# ==============================
# Unity generated folders
# ==============================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ==============================
# IDE files
# ==============================
.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.userprefs

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Build outputs
# ==============================
*.apk
*.aab
*.ipa
*.app

# ==============================
# Firebase (IMPORTANT)
# ==============================
Assets/Firebase/
Assets/Firebase.meta
Assets/GeneratedLocalRepo/
Assets/Resources/VuforiaConfiguration.asset
Assets/Resources/VuforiaConfiguration.asset.meta
Assets/Editor/Migration/com.ptc.vuforia.engine-11.4.4.tgz
Assets/SamplesResources/AugmentationAssets/Models/Astronaut.FBX
Packages/com.ptc.vuforia.engine-10.27.3.tgz
Assets/Plugins/
**/Firebase/
*.bundle
*.so
*.dll
*.dylib
*.tgz

# If using Firebase via plugins folder
Assets/Plugins/Firebase/